HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/target
.idea/
.mvn/wrapper/maven-wrapper.jar
src/main/.DS_Store
src/main/java/com/cn/lc/springboot/dao/TestUserMapper.java
src/main/resources/.DS_Store
src/main/resources/static/.DS_Store
out/